@import "../../node_modules/susy/sass/susy";
@import "colors";



.clientes {
  font-family:"Raleway", sans-serif;
  color:$text;
}

.clientes__header {
  margin-top:50px;
  height:86px;
  width: 35%;
  background-image: url(res/img_botonera.jpg);
}

.clientes__header__top_decorator {
  height:11px;
  background-color: $gris;
  opacity: 0.15;
  width: 90%;
}
.clientes__header__button__decorator{
    height: 8px;
    background-color: $quaternary;
    margin-top: 12px;
    width: 73%;
}

.clientes__header__title {
  font-family: 'RaspoutineClassic', 'Raleway', sans-serif;
  padding-top: 18px;
  padding-left:250px;
}

.clientes__copy {
  font-family:"Raleway", sans-serif;
  font-weight:800;
  font-size:16px;
  color:$text;
  margin-top: 66px;
}

.clientes__logos {
	background-image:url('res/clientes.png');
	background-repeat:no-repeat;
	background-size:contain;
	height:500px;
}

@include susy-breakpoint(1024px, 2) {

	.clientes__header__title {
		  padding-left:205px;
	}
	
	.clientes__copy,
	.clientes__logos {
		max-width:960px;
		margin-left:auto;
		margin-right:auto;
	}
}
