@import "colors";

.header {
}

// hack to use drop shadows
.header__menu,
.header__jumbotron {
  position:relative;
}

.header__jumbotron {
  z-index:0;
}

.header__menu {
  z-index:1;
}
//end of hack

.header__decorator {
    height:14px;
    background-color:$primary;
}

.header__menu {
  height: 105px;
  box-shadow:0 4px 16px rgba(0,0,0,0.75);
  background: url(/res/img_botonera.jpg);
}

.header__menu__logo {
    height:100%;
    display:inline-block;
    width:240px;
    padding-left: 30px;
    background: url(/res/logo.png) no-repeat;
    background-position:center center;
}


nav.header__menu__buttons {
	float:right;
	width:75%;
	font-family:'Raleway', sans-serif;
	font-size:21px;
    font-color:#005f71;
}

nav.header__menu__buttons ul{
	list-style-type:none;
}

nav.header__menu__buttons ul:after {
	content:' ';
	clear:both;	
	display:block;
}

nav.header__menu__buttons ul li {
	float:left;
	position:relative;
}

nav.header__menu__buttons ul li::after {
	position:absolute;
	width:30px; height:15px;
	content:' ';
	left:0;
	top:0;
	background: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='99' height='80' viewbox='0 0 99 80'><linearGradient id='gradient'><stop offset='0%' stop-color='%23F00'/><stop offset='100%' stop-color='%23fcc'/></linearGradient><rect transform='translate(-10) rotate(45 30 140)' fill='url(%23gradient)' x='0' y='0' width='99' height='80'/></svg>");
}

nav.header__menu__buttons ul li a {
    display:inline-block;
    color: #005f71;
    text-align: center;
    padding: 22px 42px 45px 42px;
	overflow:hidden;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

nav.header__menu__buttons ul li a:hover {
    display:inline-block;
    color: #ff9e0f;
    text-align: center;
    padding: 22px 42px 45px 42px;
	overflow:hidden;
    text-decoration: none;
    transition: 0.5s;
    font-size: 17px;
}
.header__menu__buttons_item {
    color:$font-color;
    font-size:21px;
}

.header__jumbotron {
  width:100%;
  height:454px;
  background: url(/res/jumbotron.jpg) no-repeat;
  background-size: cover;
  background-position:center;
}
