@import "~susy/sass/susy";
@import "colors";

$susy: (
  columns:2,
  gutters: 1/8,
  math:fluid,
  container: 960px,
);


.nosotros {
  font-family:"Raleway", sans-serif;
  color:$text;
}

.nosotros__header {
  margin-top:50px;
  height:86px;
  width: 35%;
  background-image: url(../res/img_botonera.jpg);
}

.nosotros__header__top_decorator {
  height:11px;
  background-color: $gris;
  opacity: 0.15;
  width: 90%;
}
.nosotros__header__button__decorator{
    height: 8px;
    background-color: $quaternary;
    margin-top: 12px;
    width: 73%;
}

.nosotros__header__title {
  font-family: 'RaspoutineClassic', 'Raleway', sans-serif;
  padding-left:205px;
  padding-top: 18px;
}

.nosotros__decorator__text {
  height: 8px;
  width: 55%;
  background-color: $quaternary;
}

.nosotros__text {
  font-family:"Raleway", sans-serif;
  font-weight:800;
  font-size:16px;
  color:$text;
  margin-top: 66px;
  margin-bottom: 45px;
}
.nosotros__images {

}

.nosotros__imagesa {
 float: left;
 
}

.nosotros__imagesb {
 padding-left: 55%;
}


@include susy-breakpoint(1024px, 2) {

  .nosotros__text{
    @include container();
  }

  .nosotros__images {
    @include container();
  }

  .nosotros__imagesa {
    @include span(first 1);
  }
  .servicios__imagesb {
    @include span(last 1);
  }

}
