@import "~susy/sass/susy";
@import "colors";

$susy: (
  columns:2,
  gutters: 1/8,
  math:fluid,
  container: 960px,
);

.servicios {
  font-family:"Raleway", sans-serif;
  color:$text;
}

.servicios__header {
  height:100px;
  background-image: url(/res/img_botonera.jpg);
}

.servicios__header__top_decorator {
  height:11px;
  background-color: $terciary;
}

.servicios__header__top_right_decorator {
  height:8px;
  background-color:$quaternary;
  width:70%;
}

.servicios__header__middle_decorator{
    height: 8px;
    background-color:$gris;
    width: 40%;
    padding-left: 300px; 
}
.servicios__header__title {
  padding-left:205px;
  padding-top: 18px;
}

.servicios__header__bottom_right_decorator {
  height:8px;
  background-color:$quaternary;
  margin-top: 18px;
  width: 30%;
}

.servicios__ba__illustration {
	background-image: url('/res/img1.png');
	background-repeat:no-repeat;
	background-size:contain;
	height:285px;
}

.servicios__bi {
	margin-top:30px;
}

.servicios__bi__text__title,
.servicios__ba__text__title {
    font-size:22px;
    padding-top: 20px;
    
}

.servicios__bi__text__description, 
.servicios__ba__text__description {
    font-size:16px;
    font-weight: 800;
    padding-top:30px;
}

.servicios__bi__text__readmore a:link, 
.servicios__bi__text__readmore a,
.servicios__ba__text__readmore a:link, 
.servicios__ba__text__readmore a {
	text-decoration:none;
	font-size:18px;
	color:inherit;
}

.servicios__ba__text__readmore {
	margin-top:5px;
	text-align:right;
}

.servicios__bi__text__readmore {
	margin-top:5px;
	text-align:left;
}
	

.servicios__bi__illustration {
	background-image: url('/res/img1.png');
	background-repeat:no-repeat;
	height:285px;
	background-size:contain;
}

@include susy-breakpoint(1024px, 2) {

  .servicios__ba {
    @include container();
  }

  .servicios__ba__illustration {
    @include span(first 1);
  }

  .servicios__ba__text {
    @include span(last 1);
  }

  .servicios__bi {
	  @include container();
  }

  .servicios__bi__illustration {
    @include span(last 1);
  }

  .servicios__bi__text {
    @include span(first 1);
  }
}
